/* general */

.App {
  position: relative;
  padding: 10px 20px;
}

.layout {
  position: relative;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

a:visited {
  color: black;
}

button, input, textarea {
  padding: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
}

.logo {
  width: 40vw;
}

/* navigation */

nav { 
  position: fixed;
  width: 90vw;
  bottom: 0;
  z-index: 10;
  height: 30px;
  padding-top: 10px;
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 14px;
  font-weight: 200;
}

/* forms */

.add-event form,
.edit-event form,
.profile-update form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.edit-event textarea {
  height: 100px;
}

.events-map-and-listings {
  position: relative;
}

/* map */

.mapContainer {
  position: fixed;
  height: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.marker {
  background-size: 15px 18px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  border: 1px solid #666;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  max-width: 150px;
  width: auto;
  padding: 12px;
  text-align: center;
  border: 1px solid #666;
  border-radius: 20px;
}

.mapboxgl-popup-close-button {
  top: 5px;
  right: 5px;
  font-weight: 700;
}

.mapboxgl-popup-tip {
  border-bottom-color: #666 !important;
  border-top-color: #666 !important;
}

.mapboxgl-popup-content img {
  width: 150px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.mapboxgl-popup-content button {
  border: none;
  padding: 0;
}

/* events */

.events {
  margin-top: 50vh;
  margin-bottom: 40px;
}

.event-previews {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.event-preview {
  width: 160px;
  margin: 10px 0;
}

.event-preview img {
  width: 100%;
  border-radius: 10px;
}

.event-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-preview .votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  font-size: 14px;
}

.votes button {
  border: none;
  padding: 3px;
  font-size: 20px;
  font-weight: 700;
}

.event-preview .start-time {
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  color: #666;
  text-transform: uppercase;
}

.event-preview .event-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.event-preview .place {
  font-size: 11px;
  line-height: 18px;
  color: #666;
}

/* event detail */

.event-detail img {
  width: 100%;
  border-radius: 10px;
}

.event-detail .event-name {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
}

.event-detail .times,
.event-detail .ticket-link {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
}

.event-detail .place {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

.event-detail .street {
  margin: 0 0 10px 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #333;
}

.event-detail .description {
  color: #333;
}

/* heavyweight */

.heavyweight-previews {
  display: flex;
  flex-direction: column;
  counter-reset: rank;
}

.heavyweight-preview {
  display: flex;
  height: 120px;
  align-items: center;
}

.heavyweight-previews .rank::before {
  counter-increment: rank;
  content: counter(rank) '.';
}

.heavyweight-previews .rank {
  width: 5%;
  font-size: 16px;
  font-weight: 500;
}

.heavyweight-preview img {
  width: 25%;
  margin: 0 5px;
}

.heavyweight-info {
  width: 50%;
  padding: 5px;
}

.heavyweight-info .username {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.heavyweight-info .bio {
  margin: 10px 0;
  color: #333;
}

.heavyweight-info .link {
  margin: 5px 0;
  font-size: 14px;
}

.heavyweight-preview .points {
  width: 10%;
  text-align: right;
}


/* offers */

.offers {
  margin-bottom: 30px;
}

.offer-previews {
  display: flex;
  flex-direction: column;
}

.offer-preview {
  display: flex;
  height: 120px;
  align-items: center;
}

.offer-preview img {
  width: 30%;
  margin: 0 5px;
  border-radius: 10px;
}

.offer-info {
  width: 50%;
  padding: 5px;
}

.offer-info .partner {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
}

.offer-info .description {
  margin: 10px 0;
  color: #333;
}

.offer-preview .cost {
  width: 10%;
  text-align: right;
}


/* offer detail */

.offer-detail img {
  width: 100%;
  border-radius: 10px;
}

.offer-detail .offer-partner {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
}

.offer-detail .cost {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

.offer-detail .description {
  color: #333;
}

/* profile */

.profile {
  margin-bottom: 50px;
}

.profile img {
  width: 100%;
}

.profile .username {
  margin: 15px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 20px;
}

.profile .bio {
  margin: 10px 0;
  color: #333;
}

.profile .link {
  margin: 5px 0;
}
