
/* general */

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.layout {
  position: relative;
  margin-bottom: 60px;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 600;
  /* color: #2294aa; */
  color: #ee2B7a;
}

a:visited {
  font-weight: 600;
  color: #ee2B7a;
  /* color: #2294aa; */
}

button, input, textarea {
  padding: 10px;
  color: #212121;
  border-radius: 20px;
  background-color: white;
  border: none;
}

/* general views */

.loading {
  position: fixed;
  left: 25vh;
  top: 40vh;
  height: 4vh;
  width: 4vh;
  background: linear-gradient(45deg, rgba(238, 43, 122, 0.8), rgba(254, 242, 0, 0.8));
  z-index: 10;
  animation: spin 0.5s infinite linear;
  transform-origin: 50% 50%;
  border-radius: 100%;
}

@keyframes spin {
  0%  { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.error {
  width: 70%;
  padding: 10px;
  height: auto;
  font-size: 15px;
  border: none;
  background-color: #565656;
  color: white;
  font-weight: 700;
  border-left: 6px solid #fef200;
  /* border-left: 6px solid #b00020; */
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.4);
  overflow: hidden;
}

/* navigation */

nav {
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 5;
  height: auto;
  font-size: 10px;
  font-weight: 600;
  color: #212121;
  /* background: linear-gradient(45deg, #7fd5e6, #59c7de); */
  /* background: linear-gradient(45deg, #f25a97, #ff69a9); */
  /* background: linear-gradient(45deg, #fef200, #ffff57); */
  background: linear-gradient(45deg, #fef200, #ffff8b);
}

nav ul {
  display: flex;
  align-items: center;
  padding: 8px 0;
  list-style-type: none;
}

nav li {
  width: 20%;
  text-align: center;
}

nav .selected {
  /* color: #ee2B7a; */
  color: #212121;
  font-size: 13px;
  font-weight: 600;
}

nav :not(.selected) {
  color: #565656;
  font-size: 12px;
  font-weight: 400;
}

.selected .material-icons {
  /* color: #ee2B7a; */
  color: #212121;
  font-size: 24px;
}

.material-icons {
  color: #565656;
  font-size: 18px;
  /* color: rgba(0, 0, 0, 0.70); */
  /* color: #212121; */
}

/* home */

.home, .register {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(45deg, #ee2B7a, #fef200);
}

.home .logo,
.register .logo {
  width: 200px;
}

.home h1,
.register h1 {
  font-size: 30px;
}

.home form,
.register form {
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home input,
.register input {
  margin: 10px 0;
  padding-left: 18px;
  height: 50px;
  font-size: 20px;
  border: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.4);
}

input:focus, textarea:focus {
  border: 1px solid #90faff;
  box-shadow: 0 0 5px #90faff;
}

.home button,
.register button {
  margin: 10px 0;
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  background: linear-gradient(45deg, #59C7DE, #7fd5e6);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.4);
}

.home .footer-prompt,
.register .footer-prompt {
  width: 100%;
  padding: 0 10px;
  text-align: center;
  font-size: 17px;
}

.home a,
.register a {
  color: #90faff;
}

/* forms */

input[type=text], textarea {
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

[data-testid='wrapper'] {
  height: 100vh;
  /* margin: -20px; */
}

.add-event, .edit-event, .profile-update {
  padding: 20px;
}

.add-event form,
.edit-event form,
.profile-update form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.add-event button,
.edit-event button {
  margin-top: 20px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  color: #212121;
  background: linear-gradient(45deg, #ffff57, #FEF200);
  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1); */
}

.add-event input,
.edit-event input, .edit-event textarea,
.profile-update input {
  border: 1px solid;
  border-color: rgba(89, 199, 222, 0.5);
}

.edit-event textarea {
  height: 100px;
}

.search-bar {
  /* position: absolute; */
  /* top: 5px; */
  /* padding-bottom: 15px; */
  margin-top: 10px;
  background-color: white;
  width: 100%;
}

.search-bar .search-icon {
  position: absolute;
  top: 20px;
  left: 10px;
}

.search-bar .close-icon {
  position: absolute;
  top: 20px;
  right: 10px;
}

.search-bar input {
    width: 100%;
    padding-left: 35px;
    margin-bottom: 5px;
    height: 38px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #59C7DE;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
    animation-duration: 0.3s;
    animation-name: opensearch;
}

@keyframes opensearch {
  from { 
    width: 105px;
    margin-left: 230px;
  }
  to {
    width: 100%;
  }
}

/* map */

.mapContainer {
  position: fixed;
  height: 80vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.marker {
  background-size: 15px 18px;
  background-repeat: no-repeat;
  /* background-color: #fef200; */
  background-color: #ffff8b;
  /* background-color: #f589b4; */
  background-position: center;
  /* border: 1px #b2b2b2 solid; */
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  max-width: 160px;
  width: auto;
  text-align: center;
  border: none;
  border-radius: 20px;
}

.mapboxgl-popup-close-button {
  top: -5px;
  right: 0;
  font-weight: 600;
}

.mapboxgl-popup-tip {
  border-bottom-color: #CCC !important;
  border-top-color: #CCC !important;
}

.mapboxgl-popup-content img {
  width: 110px;
  max-height: 110px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.mapboxgl-popup-content .popup-contents {
  font-family: 'Open Sans';
  padding: 0;
  font: #212121;
}

.mapboxgl-popup-content .event-name {
  font-size: 13px;
}

.mapboxgl-popup-content .place {
  font-size: 12px;
}

/* events */

.dragger {
  position: fixed;
  height: 100%;
  z-index: 5;
}

.drag-handle {
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 4;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.drag-handle .material-icons {
  color: #212121;
}

.events {
  width: 100vw;
  margin-top: -25px;
  padding: 20px;
  background-color: white;
  text-align: left;
}

.sort-filter-search-container {
  position: relative;
  overflow: hidden;
}

.sort-filter-search {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.sort-filter-search button {
  margin-bottom: 5px;
  padding: 8px 6px;
  width: 105px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  border: 2px solid #59C7DE;
  /* background: linear-gradient(45deg, #fef200, #ffff8b); */
  /* background: linear-gradient(45deg, #59C7DE, #7fd5e6); */
  /* background: linear-gradient(45deg, #ff9cda, #ff9cda);
  background: linear-gradient(45deg, #f25a97, #ff69a9); */
  /* background-color: #f9b8d2; */
}

.modal {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  z-index: 200;
  animation-duration: 0.4s;
  animation-name: slidein;
  overflow: hidden;
}

@keyframes slidein {
  from { margin-top: 100% }
  to { margin-top: 0% }
}

.modal .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px;
  padding: 20px;
  height: 50px;
  border-bottom: 0.5px #EEE solid;
}

.modal .close {
  background-color: white;
  border: 0;
  padding: 0;
  margin-right: auto;
}

.modal .title {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  margin-right: auto;
}

.modal .clear {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

.sort-options,
.date-filter {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin-top: 20px;
}

.sort-option,
.filter-option {
  margin-top: 30px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-options button,
.date-filter button {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 100px;
  font-size: 17px;
  font-weight: 600;
  color: #212121;
  /* background: linear-gradient(45deg, #ffff57, #FEF200); */
  background: linear-gradient(45deg, #59C7DE, #7fd5e6);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.15);
}

.event-previews {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.event-preview {
  position: relative;
  width: 160px;
  margin: 10px 0;
}

.event-preview .rank {
  position: absolute;
  top: 6px;
  left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  font-size: 14px;
  color: #212121;
  /* border: 1px #b2b2b2 solid; */
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: #ffff8b;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.4);
  /* background-color: #ffff8b; */
}

.event-preview .edit-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.event-preview .edit-delete button {
  color: white;
  background: none;
  padding: 5px;
  font-weight: 600;
}

.event-preview img {
  width: 100%;
  border-radius: 10px;
}

.event-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.events .event-name {
  color: #212121;
  overflow: hidden;
}

.event-preview .votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
}

.votes {
  min-width: 20px;
}

.votes .vote-total {
  color: #212121;
}

.votes button {
  padding: 1px;
  font-size: 20px;
  color: #212121;
}

.event-preview .start-time {
  font-size: 10px;
  font-weight: 600;
  padding: 5px 0;
  color: #666;
  text-transform: uppercase;
}

.event-preview .event-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.event-preview .place {
  font-size: 11px;
  padding: 5px 0;
  color: #666;
}

/* event detail */

.event-detail {
  padding: 20px;
}

.event-detail img {
  width: 100%;
  border-radius: 10px;
}

.event-detail .title {
  margin: 10px 0;
  font-size: 24px;
}

.event-detail .times,
.event-detail .ticket-link {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
}

.event-detail .place {
  margin: 10px 0 0 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 600;
}

.event-detail .street {
  margin: 0 0 10px 0;
  font-size: 13px;
  line-height: 16px;
  color: #333;
}

.event-detail .description {
  color: #333;
}

/* heavy */

.heavies {
  padding: 20px;
}

.heavies-list {
  margin-top: 20px;
}

.heavy-previews {
  display: flex;
  flex-direction: column;
  counter-reset: rank;
}

.heavy-preview {
  display: flex;
  height: 120px;
  align-items: center;
}

.heavy-previews .rank::before {
  counter-increment: rank;
  content: counter(rank) '.';
}

.heavy-previews .rank {
  width: 5%;
  font-size: 16px;
  font-weight: 600;
}

.heavy-preview img {
  width: 25%;
  margin: 0 5px;
}

.heavy-info {
  width: 60%;
  padding: 5px;
  overflow-x: hidden;
}

.heavy-info .username {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.heavy-info .bio {
  margin: 10px 0;
  color: #333;
}

.heavy-info .link {
  margin: 5px 0;
  font-size: 12px;
}

.heavy-preview .points {
  width: 10%;
  text-align: right;
}

/* offers */

.offers {
  padding: 20px;
}

.offer-previews {
  display: flex;
  flex-direction: column;
}

.offer-preview {
  display: flex;
  height: 120px;
  align-items: center;
  overflow: hidden;
}

.offer-preview img {
  width: 30%;
  margin: 0 5px;
  border-radius: 10px;
}

.offer-info {
  width: 50%;
  padding: 5px;
}

.offer-info .partner {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.offer-info .description {
  margin: 10px 0;
  color: #333;
}

.offer-preview .cost {
  width: 10%;
  text-align: right;
}

/* offer detail */

.offer-detail {
  margin-top: 20px;
  height: 100vh;
  position: relative;
}

.offer-detail img {
  width: 100%;
  border-radius: 10px;
}

.offer-detail .title {
  margin: 10px 0;
  font-size: 24px;
}

.offer-detail .cost {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

.offer-detail .description {
  color: #333;
}

.offer-detail button {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 80px;
  font-size: 17px;
  font-weight: 600;
  color: #212121;
  background: linear-gradient(45deg, #59C7DE, #7fd5e6);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.15);
}

/* profile */

.profile {
  padding: 20px;
}

.profile img {
  width: 100%;
}

.profile .title {
  margin: 10px 0;
  font-size: 24px;
}

.profile .bio {
  margin: 10px 0;
  color: #333;
}

.profile .link {
  margin: 5px 0;
}
