@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  --near-black: #212121;
  --gray-primary: #565656;
  --gray-lighter: #b2b2b2;
  --yellow-primary: #fef200;
  --yellow-lighter: #ffff8b;
  --pink-primary: #ee2B7a;
  --blue-primary: #59c7de;
  --blue-primary-faded: rgba(89, 199, 222, 0.2);
  --blue-lighter-faded: rgba(127, 213, 230, 0.6);
  --near-white: rgba(255, 255, 255, 0.9);
}

body.light {
  --bg-color: white;
  --text-color: var(--near-black);
  --text-gray: var(--gray-primary);
  --button-bg: white;
  --control-bg: rgba(255, 255, 255, 0.8);
  --blue-bg: var(--blue-primary-faded);
  --shadow: rgba(0, 0, 0, 0.2);
}

body.dark {
  --bg-color: var(--near-black);
  --text-color: var(--near-white);
  --text-gray: var(--gray-lighter);
  --button-bg: var(--near-white);
  --control-bg: rgba(255, 255, 255, 0.7);
  --blue-bg: var(--blue-lighter-faded);
  --shadow: rgba(255, 255, 255, 0.2);
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg-color);
}

#root {
  background-color: inherit;
}

input, textarea, select, button {
  font-family: inherit;
}
